# dotenv environment variables file
.env
.env.test

# Dependency directories
node_modules/
jspm_packages/

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Output of 'npm pack'
*.tgz
